body{
    background-color: #808080;
}

.header-name{
    text-align: center;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    color: white;
    margin-top: 100px;
}

.img-bulb{
    height: 250px;
    display: block;
    margin: 20px auto;
}

.btn-container{
    display: flex;
    justify-content: center;
}

.btn{
    margin: 20px 30px;
    height: 60px;
    width: 100px;
    font-size: 30px;
    border-radius: 25px;
    border-color: white;
}